@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif; }

@keyframes pop {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }
    20% {
      transform: scale(1.1);
      opacity: 1;
    }
    60% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .animate-pop {
    animation: pop 3s ease-in-out forwards;
  }
  